<div class="container">
    <ul class="list-group">
        <li class="list-group-item clearfix">
          <span class="label label-info">BOOKNames &nbsp;</span>
          <span class="labe">Author</span>
            <span class="pull-right button-group">
                <a href="/admin/userA" class="btn btn-success"><span class="glyphicon glyphicon-info-sign"></span> Availibility Status</a>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Request</button>
            </span>
        </li>
    </ul>
</div>



<span class="pull-right button-group">
                    {% if {{ book[4] }} == '1' %}
                    <a href="/admin/userA" class="btn btn-success"><span class="glyphicon glyphicon-info-sign"></span> Available </a>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Request</button>
                    {% endif %}
                    {% if {{ book[4] }} == '0' %}
                    <a href="/admin/userA" class="btn btn-danger"><span class="glyphicon glyphicon-info-sign"></span> Unavailable </a>
                    {% endif %}
                </span>


<span class="pull-right button-group">
                    <!--{% if {{ book[4] }} == '1' %}-->
                    <a href="/admin/userA" class="btn btn-success"><span class="glyphicon glyphicon-info-sign"></span> Available </a>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Request</button>
                    <!--{% endif %}
                    {% if {{ book[4] }} == '0' %}
                    <a href="/admin/userA" class="btn btn-danger"><span class="glyphicon glyphicon-info-sign"></span> Unavailable </a>
                    {% endif %}-->
                </span>

                             <!--{% set requestID = request[3] %}-->


{% for irequest in iRequests %}
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <form method="post" action="/approve/">
                        <h4 class="list-group-item-heading">{{irequest[6] }}</h4>
                        <span class="label label-success">{{ irequest[0] }} </span>&ensp;
                        <span class="label label-danger">{{ irequest[1] }} </span>&ensp;
                        {% if irequest[2] == 0 %}
                        <input style="display:none" aria-describedby="sizing-addon2" name="requestID" value="{{request[3]}}">&ensp;
                        &ensp;<button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-info-sign"></span> Approve </button>&ensp;
                        {% else %}
                        &ensp;<span class="btn btn-success pull-right"><span class="glyphicon glyphicon-info-sign"></span> Approved </span>&ensp;
                        {% endif %}
                       <span class="pull-right label-success"
                              style="font-size:120%; padding:0.3em; border-radius: 3%; background-color:#c6538c; color:white"> &ensp;{{ irequest[5] }} &ensp;</span>&ensp;
                        </form>
                    </li>
                </ul>
                {% endfor %}



{% for irequest in iRequests %}
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <form method="post" action="/approve/">
                        <h4 class="list-group-item-heading">{{irequest[6] }}</h4>
                        <span class="label label-success">{{ irequest[0] }} </span>&ensp;
                        <span class="label label-danger">{{ irequest[1] }} </span>&ensp;
                        {% if irequest[2] == 0 %}
                        <input style="display:block" aria-describedby="sizing-addon2" name="requestID" value=" {{ request[3] }} ">&ensp;
                        &ensp;<button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-info-sign"></span> Approve </button>&ensp;
                        {% else %}
                        &ensp;<span class="btn btn-success pull-right"><span class="glyphicon glyphicon-info-sign"></span> Approved </span>&ensp;
                        {% endif %}
                       <span class="pull-right label-success"
                              style="font-size:120%; padding:0.3em; border-radius: 3%; background-color:#c6538c; color:white"> &ensp;{{ irequest[5] }} &ensp;</span>&ensp;
                        </form>
                    </li>
                </ul>
                {% endfor %}