{% extends "header.html" %}

{% block body %}


<div style="margin-top:110px;">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">a..</div>
    <div role="tabpanel" class="tab-pane" id="profile">.b.</div>
    <div role="tabpanel" class="tab-pane" id="messages">c..</div>
    <div role="tabpanel" class="tab-pane" id="settings">d..</div>
  </div>

</div>

{% endblock %}
