{% extends "header.html" %}
{% block body %}


<div style="margin-top:110px; margin-left:17em; margin-right:17em;">

    <h3 align="left">
      <span class="label label-danger">
          Dashboard
      </span>
    </h3>
    <label></label>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-right:50px;">
        <li role="presentation" class="active">
            <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search
            </a>
        </li>
        <li role="presentation">
            <a href="#bookshare" aria-controls="bookshare" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                Books Shared
            </a>
        <li role="presentation">
            <a href="#increq" aria-controls="increq" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                Incoming Requests
            </a>
        </li>

        <li role="presentation">
            <a href="#sentreq" aria-controls="sentreq" role="tab" data-toggle="tab">
                <form action="/sentRequests/" method="post" name="sentRequests">
                <span class="glyphicon glyphicon-send" aria-hidden="true" onclick="sentRequests.submit()"></span>
                Sent Request
                </form>
            </a>
        </li>
        <li role="presentation">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                Settings
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <span class="divider">&ensp;</span>
        <div role="tabpanel" class="tab-pane fade in active" id="search">
            <div class="container">
                <div class="row">
                    <div id="custom-search-input" style="margin-left:17em;margin-right:40em;">
                        <div class="input-group col-md-9">
                            <form action='/search/' method="post" name="searchBar">
                                <input type="text" class=" search-query form-control"
                                       placeholder="Type and press enter to search" name="search"
                                       value="{{request.form.search}}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <span class="divider">
               <div style="margin-top:40px; margin-right:50px">
                <div role="banner">
                {% for book in Book_details %}
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">{{book[0] }}</h4>
                        <span class="label label-info">Edition:-  {{ book[2] }}</span>&ensp;
                        <span class="label label-default">{{ book[1] }} </span>
                        <span class="pull-right button-group" style="font-size:150%">
                            {% if book[3] == 1  %}
                            &ensp;
                            <span class="btn btn-success"><span class="glyphicon glyphicon-info-sign"></span> Available </span>&ensp;
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestModal"><span class="glyphicon glyphicon-plus"></span> Request</button>
                              <!-- Modal -->
                              <div class="modal fade" id="requestModal" role="dialog">
                                <div class="modal-dialog">
                                  <!-- Modal content-->
                                <form method="post" action="/sendRequest/" id="sendRequest">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="lenderID">LenderID</span>
                                        <input style="width:400px" aria-describedby="sizing-addon2" name="lenderID">{{book[4] }}>
                                    </div>
                                    <label></label>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="bookID">Book</span>
                                        <input style="width:400px" aria-describedby="sizing-addon2" name="bookID">{{book[5] }}>
                                    </div>
                                    <label></label>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="startDate">Start Date</span>
                                        <input style="width:400px" type="text" class="form-control" name="startDate"
                                               value="{{request.form.startDate}}" placeholder="Choose Start Date"
                                               aria-describedby="sizing-addon2">
                                    </div><br/>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="endDate">End Date</span>
                                        <input style="width:400px" type="text" class="form-control" name="startDate"
                                               value="{{request.form.endDate}}" placeholder="Choose End Date"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                    <label></label>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Send Request</button>
                                    </div>
                                  </div>
                                </form>
                                </div>
                            </div>
                            {% else %}
                            &ensp;<span class="btn btn-danger"><span class="glyphicon glyphicon-info-sign"></span> Unavailable </span>&ensp;
                            {% endif %}
                        </span>
                        <span class="pull-right label-success"
                              style="font-size:120%; padding:0.3em; border-radius: 3%; background-color:#c6538c; color:white"> &ensp;{{ book[4] }} &ensp;</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
           </div>
            </span>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bookshare">
            <div align="center">
                <!-- ADD Button -->
                <button style="margin-top:40px; margin-left:20px; width:200px" data-toggle="modal"
                        data-target="#Addbook" type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    ADD
                </button>
                <form action="/booksShared/" method="post" name="bookShared">
                    <button style="margin-top:40px; margin-left:20px; width:200px" type="submit"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Refresh
                    </button>
                </form>
                <!-- Add button Modal-->
                <div class="modal fade" id="Addbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <form method="post" name="addBookModal">
                            <div class="modal-content">
                                <div class="modal-header" align="center">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabelBook">Book Detailes</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="bookname">Book Name</span>
                                        <input style="width:400px" type="text" class="form-control" name="bookname"
                                               value="{{request.form.bookname}}" placeholder="Book Name"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                    <label></label>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="author">Author</span>
                                        <input style="width:400px" type="text" class="form-control" name="author"
                                               value="{{request.form.author}}" placeholder="Author"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                    <label></label>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="edition">Edition</span>
                                        <input style="width:400px" type="text" class="form-control" name="edition"
                                               value="{{request.form.edition}}" placeholder="Edition"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                    <label></label>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon"
                                              id="avlstatus">Availability Status</span>
                                        <input style="width:400px" type="text" class="form-control" name="avlstatus"
                                               value="1" placeholder="Status" aria-describedby="sizing-addon2">
                                    </div>
                                    <label></label>
                                </div>
                                <div class="modal-footer">
                                    <div align="center">
                                        <button type="submit" class="btn btn-primary">Submit For Share</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="margin-top:40px; margin-right:50px">
                <div role="banner">
                {% for book in Books_shared %}
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">{{book[0] }}</h4>
                        <span class="label label-info">Edition:-  {{ book[2] }}</span>&ensp;
                        <span class="label label-default">{{ book[1] }} </span>
                        <span class="pull-right button-group" style="font-size:150%">
                            {% if book[3] == 1  %}
                            &ensp;
                            <span class="btn btn-success"><span class="glyphicon glyphicon-info-sign"></span> Available </span>&ensp;
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestModal"><span class="glyphicon glyphicon-plus"></span> Request</button>
                              <!-- Modal -->
                              <div class="modal fade" id="requestModal" role="dialog">
                                <div class="modal-dialog">
                                  <!-- Modal content-->
                                <form method="post" action="/sendRequest/" id="sendRequest">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="lenderID">LenderID</span>
                                        <input style="width:400px" aria-describedby="sizing-addon2" name="lenderID">{{book[4] }}>
                                    </div>
                                    <label></label>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="bookID">Book</span>
                                        <input style="width:400px" aria-describedby="sizing-addon2" name="bookID">{{book[5] }}>
                                    </div>
                                    <label></label>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="startDate">Start Date</span>
                                        <input style="width:400px" type="text" class="form-control" name="startDate"
                                               value="{{request.form.startDate}}" placeholder="Choose Start Date"
                                               aria-describedby="sizing-addon2">
                                    </div><br/>
                                    <div class="input-group">
                                        <span style="float:center; width:150px" class="input-group-addon" id="endDate">End Date</span>
                                        <input style="width:400px" type="text" class="form-control" name="startDate"
                                               value="{{request.form.endDate}}" placeholder="Choose End Date"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                    <label></label>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Send Request</button>
                                    </div>
                                  </div>
                                </form>
                                </div>
                            </div>
                            {% else %}
                            &ensp;<span class="btn btn-danger"><span class="glyphicon glyphicon-info-sign"></span> Unavailable </span>&ensp;
                            {% endif %}
                        </span>
                        <span class="pull-right label-success"
                              style="font-size:120%; padding:0.3em; border-radius: 3%; background-color:#c6538c; color:white"> &ensp;{{ book[4] }} &ensp;</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="increq">
            <div role="banner">
                {% for request in Requests %}
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">{{request[0] }}</h4>
                        <span class="label label-info">Edition:-  {{ request[2] }}</span>&ensp;
                        <span class="label label-default">{{ request[1] }} </span>
                        <span class="pull-right button-group button-success" style="font-size:150%"> Approve </span>
                        <span class="pull-right label-success"
                              style="font-size:120%; padding:0.3em; border-radius: 3%; background-color:#c6538c; color:white"> &ensp;{{ request[4] }} &ensp;</span>
                    </li>
                </ul>
                {% endfor %}
                <form action="/incomingRequests/" method="post" name="incomingRequests">
                    <button style="margin-top:40px; margin-left:20px; width:200px" type="submit"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Refresh
                    </button>
                </form>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="sentreq">
            <div role="banner">
                {% for request in Requests %}
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">{{request[0] }}</h4>
                        <span class="label label-info">Edition:-  {{ request[2] }}</span>&ensp;
                        <span class="label label-default">{{ request[1] }} </span>
                        <span class="pull-right button-group button-success" style="font-size:150%"> Approve </span>
                        <span class="pull-right label-success"
                              style="font-size:120%; padding:0.3em; border-radius: 3%; background-color:#c6538c; color:white"> &ensp;{{ request[4] }} &ensp;</span>
                    </li>
                </ul>
                {% endfor %}
                <form action="/sentRequests/" method="post" name="sentRequests">
                    <button style="margin-top:40px; margin-left:20px; width:200px" type="submit"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Refresh
                    </button>
                </form>
            </div></div>

        <div role="tabpanel" class="tab-pane fade" id="settings" align="center">
            <button style="margin-top:60px; width:250px;" data-toggle="modal" data-target="#changePass" type="button"
                    class="btn btn-warning">
                Change Password
            </button>

            <div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" align="center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabelUpdate">Change Password</h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Old Password</span>
                                <input style="width:400px" type="text" class="form-control" placeholder="old password"
                                       aria-describedby="sizing-addon2">
                            </div>
                            <label></label>
                            <div class="input-group">
                                <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">New Password</span>
                                <input style="width:400px" type="password" class="form-control" placeholder="Password"
                                       aria-describedby="sizing-addon2">
                            </div>
                            <label></label>
                            <div class="input-group">
                                <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Confirm Password</span>
                                <input style="width:400px" type="password" class="form-control"
                                       placeholder="Confirm Password" aria-describedby="sizing-addon2">
                            </div>
                        </div>
                        <a href="">
                            <div class="modal-footer">
                                <div align="center">
                                    <button type="button" class="btn btn-primary">Change Password</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div align="center">
                <button style=" margin-top:50px; width:250px;" data-toggle="modal" data-target="#changedetails"
                        type="button" class="btn btn-warning">
                    Change Personal Details
                </button>
            </div>

            <div class="modal fade" id="changedetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" align="center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Update Detailes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Name *</span>
                                <input style="width:400px" type="text" class="form-control" placeholder="Name"
                                       aria-describedby="sizing-addon2">
                            </div>
                            <label></label>
                            <div class="input-group">
                                <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Phone Number *</span>
                                <input style="width:400px" type="text" class="form-control" placeholder="Phone No."
                                       aria-describedby="sizing-addon2">
                            </div>
                            <label></label>
                            <div class="input-group">
                                <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Room Number *</span>
                                <input style="width:400px" type="text" class="form-control" placeholder="Room No."
                                       aria-describedby="sizing-addon2">
                            </div>
                            <label></label>
                            <div class="input-group">
                                <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Facebook id*</span>
                                <input style="width:400px" type="text" class="form-control"
                                       placeholder="FB id (optional)" aria-describedby="sizing-addon2">
                            </div>
                            <label></label>
                            <div class="input-group">
                                <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Password</span>
                                <input style="width:400px" type="text" class="form-control" placeholder="Password"
                                       aria-describedby="sizing-addon2">
                            </div>
                        </div>
                        <a href="">
                            <div class="modal-footer">
                                <div align="center">
                                    <button type="button" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
