<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
         <meta content="width=device-width,initial-scale=1" name=viewport>
        <link href=../assets/css/docs.min.css rel=stylesheet>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}">
        <link rel="shortcut Icon" href="{{ url_for('static',filename='Images/ic_shuffle_black_24dp.png') }}">
    </head>
</head>
<header>
     <div class="navbar-header">
         <a class="navbar-brand" href="/">
              <img style="max-width:120px; margin-top:-7px;" src="{{ url_for('static',filename='Images/Logo2.jpeg') }}">
         </a>
     </div>

    <ul class="nav navbar-nav navbar-right">
        <!-- Button trigger modal -->
        <a href="/index/">
            <button style="margin-top:20px; margin-right:10em" type="button" class="btn btn-danger" data-toggle="modal" data-target="#LoginModal">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                Logout
            </button>
        </a>
        <a href="/generateReport/">
            <form method="post" action="/generateReport/">
                <button style="margin-top:20px;" type="submit" class="btn btn-danger" data-toggle="modal" data-target="#LoginModal">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    Generate Report
                </button>
            </form>
        </a>
    </ul>

</header>
<body>
    <div class="border-row" style="width=100%;margin-buttom:20px"></div>
    <div class="container-fluid" style="min-height:100%;">

        <!--{% with messages = get_flashed_messages() %}
            {% if messages %}
                {%for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        -->
        {% block body %} {% endblock %}

    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>
</html>