<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Share</title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link href=../assets/css/docs.min.css rel=stylesheet>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="shortcut Icon" href="{{ url_for('static',filename='Images/ic_shuffle_black_24.png') }}">
</head>
<header>
     <div class="navbar-header">
         <a class="navbar-brand" href="/">
              <img style="max-width:120px; margin-top:-7px;" src="{{ url_for('static',filename='Images/Logo2.jpeg') }}">
         </a>
     </div>

    <ul class="nav navbar-nav navbar-right">
        <!-- Button trigger modal -->
        <a href="/register/">
            <button style="margin-top:20px; margin-right:40px" type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#SignupModal">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                Signup
            </button>
        </a>
    </ul>

</header>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="" id="loginModal">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<!--<h1 align="center">Have an Account?</h1>-->
					  </div>
					<div align="center" style="margin-left:27em;margin-right:27em; margin-top:8em">
					  <div class="modal-body">
						<div class="well">

						  <div id="myTabContent" class="tab-content">
							<div class="tab-pane active in" id="login">

								<form class="form-horizontal" action='/login/' method="POST">
								<fieldset>
								  <div id="legend">
									<legend class="">Login</legend>
								  </div>
								  <div class="control-group">
									<!-- Username -->
									<label class="control-label"  for="username">Username</label>
									<div class="controls">
									  <input type="text" id="username" name="username" placeholder="Bits Id" name="username" value="{{request.form.username}}" class="input-xlarge">
									</div>
								  </div>
									<br>
								  <div class="control-group">
									<!-- Password-->
									<label class="control-label" for="password">Password</label>
									<div class="controls">
									  <input type="password" id="password" name="password" placeholder="Password" name="password" value="{{request.form.password}}" class="input-xlarge">
									</div>
								  </div>

									<br>
								  <div class="control-group">
									<!-- Button -->
									<div class="controls">
									  <button class="btn btn-success" type="submit">Login</button>
									</div>
								  </div>
								</fieldset>
							  </form>
							</div>

						</div>
					  </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<body background="/static/Images/qwe.jpg">
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static',filename='js/login.js') }}"></script>
 --></body>
</html>