<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Share</title>
         <meta content="width=device-width,initial-scale=1" name=viewport>
        <link href=../assets/css/docs.min.css rel=stylesheet>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="shortcut Icon" href="{{ url_for('static',filename='Images/ic_shuffle_black_24dp.png') }}">
    </head>

<header>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
          <img style="max-width:120px; margin-top:-7px;" src="{{ url_for('static',filename='Images/Logo2.jpeg') }}">
      </a>
        <a href="/GuestLogin/">
            <button style="margin-top:20px;" type="button" class="btn btn-danger" aria-label="Left Align">
                <span class=" glyphicon glyphicon-user" aria-hidden="true"></span>
                Guest Login
            </button>
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">

        <!-- Button trigger modal -->
        <button style="margin-top:20px; margin-right:10px" type="button" class="btn btn-danger" data-toggle="modal" data-target="#LoginModal">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            Login
        </button>

        <!-- Login Modal -->
        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
              </div>
              <div class="modal-body">

                  <div class="input-group">
                      <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Handle/BITS Id</span>
                      <input style="width:400px" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                  </div>
                  <label></label>
                  <div class="input-group">
                      <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Password</span>
                      <input style="width:400px" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" >
                  </div>
              </div>
              <a href="/GuestLogin/">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Login</button>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- Signup trigger modal -->
        <button style="margin-top:20px; margin-right:40px" type="button" class="btn btn-danger" data-toggle="modal" data-target="#SignupModal">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            Signup
        </button>

        <!-- Sign up Modal -->
        <div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
              </div>
              <div class="modal-body">

                  <div class="input-group">
                      <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">BITS Id *</span>
                      <input style="width:400px" type="text" class="form-control" placeholder="BITS Id" aria-describedby="sizing-addon2">
                  </div>
                  <label></label>
                  <div class="input-group">
                      <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Password *</span>
                      <input style="width:400px" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" >
                  </div>
                  <label></label>
                  <div class="input-group">
                      <span style="float:center; width:150px" style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Confirm Password *</span>
                      <input style="width:400px" type="password" class="form-control" placeholder="Confirm Password" aria-describedby="sizing-addon2" >
                  </div>
                  <label></label>
                  <div class="input-group">
                      <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Name *</span>
                      <input style="width:400px" type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon2">
                  </div>
                  <label></label>
                  <div class="input-group">
                      <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Phone Number *</span>
                      <input style="width:400px" type="text" class="form-control" placeholder="Phone No." aria-describedby="sizing-addon2">
                  </div>
                  <label></label>
                  <div class="input-group">
                      <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Room Number *</span>
                      <input style="width:400px" type="text" class="form-control" placeholder="Room No." aria-describedby="sizing-addon2">
                  </div>
                  <label></label>
                  <div class="input-group">
                      <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Facebook id*</span>
                      <input style="width:400px" type="text" class="form-control" placeholder="FB id (optional)" aria-describedby="sizing-addon2">
                  </div>
                    <label></label>
              </div>
              <a href="/SignUpConfirmation/">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Sign Up</button>
                </div>
              </a>
            </div>
          </div>
        </div>
    </ul>

</header>


<body background="">
    <form>
      <div class="form-group" style="margin-right:1000px">
        <label style="margin-top:250px; margin-left:-200px" for="exampleInputEmail1">BITS Id</label>
        <input style="margin-left:70px" type="email" class="form-control" id="exampleInputEmail1" placeholder="BITS Id">
      </div>
      <div class="form-group" style="margin-right:1000px">
        <label style="margin-left:70px" for="exampleInputPassword1">Password</label>
        <input style="margin-left:70px" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
        <a href="/templates/Dashboard.html">
            <button style="margin-left:180px" type="button" class="btn btn-danger">Login</button>
        </a>
    </form>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
