<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Share</title>
         <meta content="width=device-width,initial-scale=1" name=viewport>
        <link href=../assets/css/docs.min.css rel=stylesheet>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="shortcut Icon"href="{{ url_for('static',filename='Images/ic_shuffle_black_24dp.png') }}">
    </head>

<header>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
          <img style="max-width:120px; margin-top:-7px;" src="{{ url_for('static',filename='Images/Logo2.jpeg') }}">
      </a>
        <a href="/GuestLogin/">
            <button style="margin-top:20px;" type="button"class="btn btn-danger" aria-label="Left Align">
                <span class=" glyphicon glyphicon-user" aria-hidden="true"></span>
                Guest Login
            </button>
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">

        <!-- Button trigger modal -->
        <button style="margin-top:20px; margin-right:10px" type="button"class="btn btn-danger" data-toggle="modal" data-target="#LoginModal">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            Login
        </button>

        <!-- Login Modal -->

            <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <form method="post" name="LoginModal">
                  <div class="modal-content">
                  <div class="modal-header" align="center">
                    <button type="button"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel1">Login</h4>
                  </div>
                  <div class="modal-body">

                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon"  id="sizing-addon2">BITS ID</span>
                          <input style="width:400px" type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}" aria-describedby="sizing-addon2" required>
                      </div>
                      <label></label>
                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon" id="sizing-addon2">Password</span>
                          <input style="width:400px" type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}" aria-describedby="sizing-addon2" required >
                      </div>
                  </div>

                    <div class="modal-footer" >
                        <div align="center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>



        <!-- Signup trigger modal -->
        <button style="margin-top:20px; margin-right:40px" type="button"class="btn btn-danger" data-toggle="modal" data-target="#SignupModal">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            Signup
        </button>
        <!-- Sign up Modal -->
        <div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" align="center">
                <button type="button"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Sign Up</h4>
              </div>
              <form class="form-signin" action="/signUp/" method="post" role="form" id="signUpForm">
                  <div class="modal-body">
                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon" id="bitsID">BITS ID</span>
                          <input style="width:400px" type="text" class="form-control" placeholder="BITS ID"  aria-describedby="sizing-addon2" required>
                      </div>
                      <label></label>
                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon" id="password">Password</span>
                          <input style="width:400px" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" required >
                      </div>
                      <label></label>
                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon" id="cpassword">Confirm Password</span>
                          <input style="width:400px" type="password" class="form-control" placeholder="Confirm Password" aria-describedby="sizing-addon2" required >
                      </div>
                      <label></label>
                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon" id="name">Name</span>
                          <input style="width:400px" type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon2" required>
                      </div>
                      <label></label>
                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon" id="phno">Phone Number</span>
                          <input style="width:400px" type="text" class="form-control" placeholder="Phone Number" aria-describedby="sizing-addon2" required>
                      </div>
                      <label></label>
                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon" id="roomno">Room Number</span>
                          <input style="width:400px" type="text" class="form-control" placeholder="Room Number" aria-describedby="sizing-addon2" required>
                      </div>
                      <label></label>
                      <div class="input-group">
                          <span style="float:center; width:150px" class="input-group-addon" id="fbid">Facebook Link</span>
                          <input style="width:400px" type="text" class="form-control" placeholder="FB Link (optional)" aria-describedby="sizing-addon2" required>
                      </div>
                        <label></label>
                  </div>
                  <a href="/signUp/">
                    <div class="modal-footer">
                        <div align="center">
                            <button type="button"class="btn btn-primary" id="signUp">Sign Up</button>
                        </div>
                    </div>
                  </a>
              </form>
            </div>
          </div>
        </div>
    </ul>

</header>


<body background="/static/Images/back2.jpg">
    <form method="post" name="LoginModal" id="#LoginModal">
      <div class="form-group" style="margin-right:1000px">
        <label style="margin-top:250px; margin-left:-200px" for="exampleInputEmail1">BITS Id</label>
        <input style="margin-left:70px" type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="BITS Id" value="{{request.form.username}}">
      </div>
      <div class="form-group" style="margin-right:1000px">
        <label style="margin-left:70px" for="exampleInputPassword1">Password</label>
        <input style="margin-left:70px" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" value="{{request.form.password}}">
      </div>

            <button style="margin-left:180px" type="submit" class="btn btn-danger">Login</button>

    </form>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/login.js') }}"> </script>
</body>
</html>