<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Book Share</title>
         <meta content="width=device-width,initial-scale=1" name=viewport>
        <link href=../assets/css/docs.min.css rel=stylesheet>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="shortcut Icon"href="{{ url_for('static',filename='Images/ic_shuffle_black_24dp.png') }}">
</head>
<body>
    <div class="jumbotron" style="margin-left:40px;margin-top:70px;margin-right:40px;" align="center">
        <h1>Thanks For Signing Up</h1>
        <br>
        <h2> Welcome to World of Sharing !</h2>
        <p>Share your books amonge your pears</p>
        <p><a class="btn btn-primary btn-lg" href="/dashboard/" role="button">Go To DashBoard</a></p>
    </div>
</body>
</html>