<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
         <meta content="width=device-width,initial-scale=1" name=viewport>
        <link href=../assets/css/docs.min.css rel=stylesheet>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}">
        <link rel="shortcut Icon" href="{{ url_for('static',filename='Images/ic_shuffle_black_24dp.png') }}">
    </head>
</head>
<header>
     <div class="navbar-header">
         <a class="navbar-brand" href="/">
              <img style="max-width:120px;" src="{{ url_for('static',filename='Images/Logo2.jpeg') }}">
         </a>
     </div>
</header>

<body>
    <div class ='container'>
        <div style="margin-top:10em;">
            <h3><span class="label label-primary">Sign Up Form</span></h3>
            <br>
            {% from "_formhelper.html" import render_field %}
            <form method=post action="/register/">
                <dl>
                    {{ render_field(form.bitsid) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm) }}
                    {{ render_field(form.name) }}
                    {{ render_field(form.phoneno) }}
                    {{ render_field(form.roomno) }}
                    {{ render_field(form.facebook) }}
                </dl>
                <p><input type="submit" value="Register" class="btn btn-danger"></p>
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong>{{ error }}</p>
            {% endif %}
        </div>
    </div>
    <div class="border-row" style="width=100%;margin-buttom:20px"></div>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
